// emotions

$Happy:green;
$Angry:red;
$Excited: yellow;
$Sad:blue;
$Fear:orange;
$Bored:purple;

// variables for breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// mixins for each breakpoint in the responsive design

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint){
        @content;
    }
}