.profile {
    // background-color: #f5f5f5;
    margin: 1rem;
    padding: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 0 0 1rem;
        padding: 0 0 0.5rem;
        border-bottom: 5px solid #800080;
    }

    &__dash{
        margin-bottom: 1rem;
    }

    &__logout {
        margin-top: 20px;
        padding: 0.4rem 0.7rem;
        background: transparent;
        border-radius: 5px;
      }
    &__name {
        width: 100%;
        text-align: left;
        background-color: rgba(255, 0, 0, 0.582);
        padding: 0.2rem 1rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        color: #2f72da;
      }
      
      &__text {
        color: black;
      }
}
